    <footer class="footer">
      <form action=<%= page + 1%> method="GET">
          <button class="btn btn-default">Next Page</button>
      </form>

      <form action=<%= page - 1%> method="GET">
          <button class="btn btn-default" id="pPage">Previous Page</button>
      </form>
        
    </footer>
  </body>
</html>