    <footer class="footer">
      <form action="/items/" method="GET">
            <button class="btn btn-default" name="count" value=<%= page + 1%> >Next Page</button>
      </form>

      <form action="/items/" method="GET">

          <button class="btn btn-default" name="count" id="pPage" value=<%= page - 1%> >Previous Page</button>
      </form>
        
    </footer>
  </body>
</html>