<% include partials/header.ejs %>
<div id="container">
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <a class="navbar-brand" href="http://localhost:3000"><img id="vLogo" src="/img/VentureLogo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <form action="/items/new" method="GET">
                        <li><button class="btn btn-defualt my-2 my-sm-0" type="submit">Add Item</button></li>
                    </form>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/items/search" method="GET">
                  <input class="form-control mr-sm-2" type="q" name="q" paceholder="Search" aria-label="Search">
                  <button class="btn btn-defualt my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
    </nav>
</div>

<h1><%= item.name %></h1>

    </body>
</html>