body {
  padding-top: 120px;
}
html{
  background: rgb(122,0,60);
}
#pPage{
  float: left;
  margin: 10px;
}
.navbar {
  height: 50px;
  padding: 0 15px 0px 15px;
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 1;
  background: rgb(122,0,60);
}

.fa-trash{
  color:white;
  background: rgb(122,0,60);
  padding: 8px;
  border-radius: 10px;
}

.footer{
  background: rgb(122,0,60);
  height: 15vh;
}
.footer .btn{
  float: right;
  margin: 10px;
}

.navbar {margin-bottom: 0;}

.navbar a {
  color: white;
  line-height: 3em;
}

.navbar-collapse{
  background: rgb(122,0,60);
  margin: -.5rem -1rem;
  padding: .5rem 1rem;
}

.table-area {
  position: relative;
  z-index: 0;
  margin-top: 50px;
}

.navbar {
    min-height: 80px;
  }
  
  .navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }

table.responsive-table {
  display: table;
  /* required for table-layout to be used (not normally necessary; included for completeness) */
  table-layout: fixed;
  /* this keeps your columns with fixed with exactly the right width */
  width: 100%;
  /* table must have width set for fixed layout to work as expected */
  height: 100%;
}

table.responsive-table thead {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  line-height: 3em;
  table-layout: fixed;
  display: table;
}

table.responsive-table th {
    background: rgb(122,0,60);
    color: white;

}

table.responsive-table td {
  line-height: 2em;
}

table.responsive-table tr > td,
table.responsive-table th {
  text-align: left;
}

img{
    height: 70px;
}

#sMsg{
  text-align: center;
  display: block;
  margin-top: 2%;
  font-size: 20px;
  font-weight: bold;
}

#addForm{
  list-style: none;
  margin: auto;
  padding: 0;
  text-align: center;
}

#addForm li input{
  display: block;
  margin: 5px;
  width: 100%; height: 40px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #bbb;
  text-transform: capitalize; 
}

#addForm li input[name="location"]{
  text-transform: none;
}
#addForm li{
  margin-right: 5px;
}

#cbox {
	resize: none;
  width: 100%;
  margin: 5px;
  margin-bottom: 60px;
	min-height: 40px;
	padding: 5px;
	overflow: hidden;
  box-sizing: border-box;
}

#moreItems{
  float: left;
  margin: 5px;
}

#commitItems{
  float: right;
  margin-top: 5px;
}

#addForm li .dupItemc {
  box-shadow: 0 0 3px #ff0000;
}